Blog.json
{
  "name": "Blog",
  "nodes": [
    {
      "parameters": {
        "content": "## Write SEO Optimized Blog Post\n\n\n",
        "height": 440,
        "width": 420,
        "color": 7
      },
      "id": "5dba62ca-5b55-452e-bef7-2225a2dca399",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create HTML\n\n\n",
        "height": 280,
        "width": 440,
        "color": 7
      },
      "id": "ee5252b4-d621-43d8-99e9-a4bbeb039e08",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "6fc1f687-716a-46be-9afb-c399ea32b8b9",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        560,
        352
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "## Create Title, Slug & Meta\n\n\n",
        "height": 440,
        "width": 440,
        "color": 7
      },
      "id": "ade46201-fc79-4a87-b1e8-a274589a55b5",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0afb2988-1481-4b04-b16d-fb33c50a16d0",
              "name": "content",
              "type": "string",
              "value": "={{ $json.data[0].content.parts[0].text.replaceAll('```html','').replaceAll('```','').trim() }}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "af398214-5464-41e9-afa2-d7e6c51f94ee",
      "name": "Cleanup HTML ",
      "type": "n8n-nodes-base.set",
      "position": [
        1232,
        704
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "37294819-974e-4a35-bb79-f7a7086609a6",
      "name": "Combine Blog Details",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        832,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1m55JqW3kIMtAtc6qcz5UI4_eoCkGHOhIka1dgbHa0TA",
          "mode": "list",
          "cachedResultName": "Website-blog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m55JqW3kIMtAtc6qcz5UI4_eoCkGHOhIka1dgbHa0TA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m55JqW3kIMtAtc6qcz5UI4_eoCkGHOhIka1dgbHa0TA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1056,
        432
      ],
      "id": "610e431e-fde7-48b3-a550-0b9fe00cfa46",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tritXqeH4gVzLBqY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                4
              ],
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1360,
        432
      ],
      "id": "f209cec7-8408-4412-91da-62a0c44d528b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -528,
        576
      ],
      "id": "2d1356af-41dd-4ec7-bb4a-8f24d9ba80ef",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bGlouN5nATS36o3o",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "="
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        112
      ],
      "id": "30842447-307c-4297-bce6-77ce741ede11",
      "name": "create html",
      "credentials": {
        "googlePalmApi": {
          "id": "Yp5E4DxyV4U1qX7o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -528,
        368
      ],
      "id": "a7bf7462-d018-4379-b6c3-41a3893cae15",
      "name": "Copyright ai Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        640
      ],
      "id": "23e6b33d-44f7-4cbd-b0e0-9fd935c32bc0",
      "name": "Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Yp5E4DxyV4U1qX7o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"slug\": \"industrial-sewing-machines-guide\",\n  \"title\": \"Best Industrial Sewing Machines for Modern Garment Units\",\n  \"meta\": \"Explore key insights on industrial sewing machines, features, and buying factors for garment factories. A complete guide by HCA & Co., New Delhi.\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        640
      ],
      "id": "de4984cb-4b72-4876-8c14-045834f581b9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        0,
        464
      ],
      "id": "1adba0fd-7fcf-4dce-b5b8-ffad297342d2",
      "name": "Create Title, Slug, Meta"
    },
    {
      "parameters": {
        "title": "={{ $('Combine Blog Details').item.json.data[2].output.title }}",
        "additionalFields": {
          "authorId": 1,
          "content": "={{ $json.content }}",
          "slug": "={{ $('Combine Blog Details').item.json.data[2].output.slug }}",
          "status": "draft",
          "commentStatus": "closed",
          "sticky": false,
          "postTemplate": {
            "values": {}
          }
        }
      },
      "id": "faf3e37b-a922-44df-87c8-acd2bfea575c",
      "name": "Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        -528,
        1168
      ],
      "typeVersion": 1,
      "credentials": {
        "wordpressApi": {
          "id": "wKs3WyvM56EMaTvp",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Post on Wordpress\n\n\n",
        "height": 280,
        "width": 300,
        "color": 4
      },
      "id": "b9711f6f-0dc8-4312-9639-cf83d099aec7",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        1056
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xm39LDIUCaiMsquaMJMYBjpwniAoXeJjB04VuPXHeHo",
          "mode": "list",
          "cachedResultName": "Blog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xm39LDIUCaiMsquaMJMYBjpwniAoXeJjB04VuPXHeHo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DqZkNsmVqtV_iWIthp8ZV0NhgZLdwEZxZeJ0RGxiD6g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "status": "Posted"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        1168
      ],
      "id": "76616ea9-4f0e-4fd1-9013-42b6281408e9",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tritXqeH4gVzLBqY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Only output the HTML content without preamble or explanation.\n\nGenerate clean, SEO-optimized, WordPress-compatible HTML for a professional DukeJia / HCA (Hari Chand Anand & Co., New Delhi) blog post on blog.dukejia.com.\n\n### CONTENT SOURCE:\nUse the full blog text from:\n{{ $json.output }}\n\nThe blog text is plain text (no HTML). You must convert it into structured HTML.\n\n### TITLE:\nThe final SEO title is:\n{{ $json.title }}\n\n### HERO IMAGE + DATE:\n1. Insert this image at the very top of the article as the hero image.\n2. Under it, show the publish date using today's date.\n\nUse exactly:\n\n<img src=\"{{ $('Get row(s) in sheet').item.json.ImageUrl }}\"\n     style=\"width:100%;max-height:420px;object-fit:cover;border-radius:12px;margin-bottom:8px;\"\n     alt=\"{{ $json.title }}\" />\n\n<p class=\"wp-block-paragraph\" style=\"font-size:14px;color:#666;margin-top:0;margin-bottom:18px;\">\n  Published on: {{ $now.toFormat('dd MMM yyyy') }}\n</p>\n\n### REQUIRED STRUCTURE (IN THIS ORDER):\n\n1. Hero Image + Date (as above)\n\n2. Title (H2)\n\n<h2 class=\"wp-block-heading\" id=\"h-title\" style=\"border-bottom:2px solid #0066cc;padding-bottom:8px;margin-bottom:16px;\">\n  {{ $json.title }}\n</h2>\n\n3. Estimated reading time\n\n<p class=\"wp-block-paragraph\">\n  <strong>Estimated Reading Time:</strong> 6–8 minutes\n</p>\n\n4. Key Takeaways\n\n- Add a short intro line like: “Key takeaways for garment factories:”\n- Then 3–5 bullet points based on the blog text.\n\nUse:\n\n<ul class=\"wp-block-list\">\n  <li>...</li>\n</ul>\n\n5. Table of Contents\n\n- Auto-generate based on the main sections of the article.\n- Each visible section heading MUST have a unique id.\n- Use a blue theme (#0066cc).\n\nExample:\n\n<div class=\"wp-block-group\" style=\"border:1px solid #e0e0e0;padding:16px;border-radius:8px;background:#f7fbff;margin:18px 0;\">\n  <p class=\"wp-block-paragraph\" style=\"color:#0066cc;font-weight:600;margin-top:0;margin-bottom:8px;\">Table of Contents</p>\n  <ul class=\"wp-block-list\">\n    <li><a href=\"#section-1\" style=\"color:#0066cc;text-decoration:none;\">Section title 1</a></li>\n    <li><a href=\"#section-2\" style=\"color:#0066cc;text-decoration:none;\">Section title 2</a></li>\n  </ul>\n</div>\n\n6. Main Content\n\nConvert the plain blog draft into structured HTML:\n\n- Use <h2>, <h3>, <h4> for headings.\n- Use <p class=\"wp-block-paragraph\"> for all paragraphs.\n- Add unique IDs and a blue bottom border to all main <h2> headings.\n\nExample:\n\n<h2 class=\"wp-block-heading\" id=\"section-1\" style=\"border-bottom:2px solid #0066cc;padding-bottom:6px;margin-top:24px;margin-bottom:12px;\">\n  Heading text here\n</h2>\n\n<h3 class=\"wp-block-heading\" id=\"section-1-1\" style=\"margin-top:18px;margin-bottom:8px;\">\n  Subheading text here\n</h3>\n\n<p class=\"wp-block-paragraph\">Paragraph text here...</p>\n\n- Where the draft contains comparison information, create at least one HTML table:\n\n<figure class=\"wp-block-table\">\n  <table>\n    <thead>\n      <tr>\n        <th>Parameter</th>\n        <th>Option A</th>\n        <th>Option B</th>\n      </tr>\n    </thead>\n    <tbody>\n      <tr>\n        <td>Build quality</td>\n        <td>...</td>\n        <td>...</td>\n      </tr>\n    </tbody>\n  </table>\n</figure>\n\n- Use <br><br> only when extra spacing between logical blocks is needed.\n\n7. FAQ Section (near the end, before final CTA line)\n\n- Create 5–7 FAQs based on the topic and on typical DukeJia / HCA customer questions about embroidery, perforation and quilting machines.\n- Use <details> + <summary> for each question.\n\nExample:\n\n<section id=\"faqs\">\n  <h2 class=\"wp-block-heading\" id=\"faq-section\" style=\"border-bottom:2px solid #0066cc;padding-bottom:6px;margin-top:32px;margin-bottom:16px;\">\n    Frequently Asked Questions\n  </h2>\n\n  <details style=\"margin-bottom:10px;\">\n    <summary style=\"color:#0066cc;font-weight:600;cursor:pointer;\">Question text here...</summary>\n    <p class=\"wp-block-paragraph\">Answer text here...</p>\n  </details>\n</section>\n\n8. Final CTA\n\n- The draft already ends with the CTA line:\n  “For DukeJia embroidery, perforation or quilting machine demonstrations, pricing or technical consultation, contact Hari Chand Anand & Co. (HCA), New Delhi.”\n- Wrap this line in its own paragraph or a subtle callout div, for example:\n\n<div class=\"wp-block-group\" style=\"border-top:1px solid #e0e0e0;margin-top:24px;padding-top:16px;\">\n  <p class=\"wp-block-paragraph\" style=\"font-weight:600;\">\n    For DukeJia embroidery, perforation or quilting machine demonstrations, pricing or technical consultation, contact Hari Chand Anand &amp; Co. (HCA), New Delhi.\n  </p>\n</div>\n\n### STYLING & WORDPRESS RULES:\n\n- Use these classes where relevant:\n  - wp-block-heading\n  - wp-block-paragraph\n  - wp-block-list\n  - wp-block-table\n- Headings should follow a clear hierarchy (H2 > H3 > H4).\n- Links should use inline style color #0066cc.\n- Do NOT use emojis.\n- Do NOT include any inline JavaScript or external CSS.\n- The HTML must be ready to paste into the WordPress block editor.\n\n### IMPORTANT:\n\nOutput ONLY the final HTML.\nDo NOT wrap it in markdown code fences.\nDo NOT add explanations, comments, or any text outside the HTML.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        528,
        1488
      ],
      "id": "498326a6-82ae-4dd8-85e5-e8a63e61f257",
      "name": "create html1",
      "credentials": {
        "googlePalmApi": {
          "id": "Yp5E4DxyV4U1qX7o",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Combine Blog Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup HTML ": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Blog Details": {
      "main": [
        [
          {
            "node": "Cleanup HTML ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Copyright ai Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Copyright ai Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "create html": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copyright ai Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "create html",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Title, Slug, Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Create Title, Slug, Meta",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Create Title, Slug, Meta",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create Title, Slug, Meta": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e3a69517-7178-4579-861a-4c570ced478e",
  "meta": {
    "instanceId": "68a251423bbf1a1fb243908498854747fefc044b5c9e85fe6f46913b8c6bfc64"
  },
  "id": "si32DBSRHiueuXJc",
  "tags": []
}